[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
autopep8 = "*"

[packages]
bs4 = "*"
selenium = "*"
requests = "*"
chromedriver-binary = "*"
google-cloud-firestore = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
whoosh = "*"
mecab = "*"

[requires]
python_version = "3.8"
